<!DOCTYPE html>

<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fruteria La toronjita</title>
</head>
<body>
    <h1>Fruta La toronjita</h1>
    <br>
 
        <input type="text" name="Fruta" placeholder="Escribe una fruta">
        <input type="text" name="Temporada" placeholder="Escribe una temporada">
        <input type="number"  name="Precio" placeholder="Escribe un precio">
        <input type="number"  name="Stock" placeholder="Escribe un stock">

        <button type="submit">Guardar</button>
        
    </form>
<br>
<br>